body {
  margin: 0px;
  padding-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: Inter, sans-serif;
}

h2 {
  font-size: 13px;
  line-height: 13px;
}

p {
  font-size: 13px;
}

button {
  border-radius: 5px;
  background: white;
  color: black;
  border: none;
  padding: 8px 15px;
  box-shadow: inset 0 0 0 1px black;
  outline: none;
  font-size: 13px;
}

button:hover:enabled {
  cursor: pointer;
  background-color: black;
  color: white;
}

button:disabled {
  opacity: 0.5;
}

select {
  width: 150px;
  border-radius: 5px;
  background: white;
  color: black;
  border: none;
  padding: 8px 15px;
  box-shadow: inset 0 0 0 1px black;
  outline: none;
  font-size: 13px;
  transition: 0.3s ease;
}

select:disabled {
  opacity: 0.5;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.row.right {
  justify-content: flex-end;
}

.main-menu {
  justify-content: flex-start;
  padding: 5px 0;
  border-top: 0;
}

.half {
  margin: 0 15px;
}

.tab {
  text-align: center;
  font-size: 13px;
  padding: 10px;
  border-radius: 20px;
  margin: 0;
  /*background-color: #098300;*/
  box-shadow: none;
  color: rgb(0, 0, 0, 0.5);
  transition: .2s ease;
}

.main-menu > .tab:first-child {
  margin-left: 10px;
}

.tab.active {
  color: black;
}

.tab.active:hover:enabled {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}

.tab:hover:enabled {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(0, 0, 0, 0.5);
}

.parent-illust {
  width: 100%;
  margin-bottom: 10px;
}

#parent-menu {
  align-items: center;
}

.parent-generator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-menu {
  flex-direction: column;
  display: none;
}

.action-menu.active {
  display: flex;
}

.help {
  position: fixed;
  bottom: 0;
  padding: 5px 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  z-index: 10;
  width: 100%;
}

.help p {
  font-size: 11px;
}

.primary-button {
  box-shadow: none;
  background: #29ac00;
  color: white;
}

.primary-button:hover:enabled {
  background: #098300;
}

#preloader {
  z-index: 50;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  top: 0;
  transition: .3s ease;
}

#preloader.finished {
  top: 100%;
}

@keyframes loading {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.preloader-logo {
  animation: loading 2s infinite;
  width: 100px;
}
