<!-- Figma does not like when the html of the plugin is not inline   -->
<!-- Standard link tag-->
<div class="row main-menu">
  <button class="half tab active" id="parent-tab">
    <b>Parent palette</b>
  </button>
  <button class="half tab" id="child-tab"><b>Theme</b></button>
</div>
<div id="parent-menu" class="action-menu active">
  <img class="parent-illust" src="<%= require('./universe.jpg').default %>" />
  <div class="parent-generator">
    <div><h4>Generate a parent palette</h4></div>
    <div>
      <button id="generate" class="primary-button">Generate</button>
    </div>
  </div>
  <!-- TODO 
  <div class="row">
    <div class="half"><p>Generate just the colors</p></div>
    <div class="half"><button id="generate_colors">Generate</button></div>
  </div>
  <div class="row">
    <div class="half"><p>Generate just the text styles</p></div>
    <div class="half"><button id="generate_text_styles">Generate</button></div>
  </div>
  -->
</div>
<div id="child-menu" class="action-menu">
  <div class="row">
    <div class="half"><p>Variant</p></div>
    <div class="half">
      <select id="themeVariant">
        <option selected>light</option>
        <option>dark</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="half"><p>Primary</p></div>
    <div class="half">
      <select id="primary" class="shadePicker"></select>
    </div>
  </div>
  <div class="row">
    <div class="half"><p>Secondary</p></div>
    <div class="half">
      <select id="secondary" class="shadePicker"></select>
    </div>
  </div>
  <div class="row">
    <div class="half"><p>Error</p></div>
    <div class="half">
      <select id="error" class="shadePicker"></select>
    </div>
  </div>
  <div class="row">
    <div class="half"><p>Warning</p></div>
    <div class="half">
      <select id="warning" class="shadePicker"></select>
    </div>
  </div>
  <div class="row">
    <div class="half"><p>Borders</p></div>
    <div class="half">
      <select id="borders" class="shadePicker"></select>
    </div>
  </div>

  <div class="row">
    <div class="half"><p>Background 1</p></div>
    <div class="half">
      <select id="background/1" class="shadePicker"></select>
    </div>
  </div>
  <div class="row">
    <div class="half"><p>Background 2</p></div>
    <div class="half">
      <select id="background/2" class="shadePicker"></select>
    </div>
  </div>

  <div class="row">
    <div class="half"><p>Typography titles</p></div>
    <div class="half">
      <select id="typography/titles" class="shadePicker"></select>
    </div>
  </div>
  <div class="row">
    <div class="half"><p>Typography body</p></div>
    <div class="half">
      <select id="typography/body" class="shadePicker"></select>
    </div>
  </div>
  <div class="row">
    <div class="half"><p>On Warning</p></div>
    <div class="half">
      <select id="typography/onWarning" class="shadePicker"></select>
    </div>
  </div>
  <div class="row">
    <div class="half"><p>On Error</p></div>
    <div class="half">
      <select id="typography/onError" class="shadePicker"></select>
    </div>
  </div>
  <div class="row">
    <div class="half"><p>On Primary</p></div>
    <div class="half">
      <select id="typography/onPrimary" class="shadePicker"></select>
    </div>
  </div>
  <div class="row">
    <div class="half"><p>On Secondary</p></div>
    <div class="half">
      <select id="typography/onSecondary" class="shadePicker"></select>
    </div>
  </div>

  <div class="row">
    <div class="half"><p>Illustrations</p></div>
    <div class="half">
      <select id="illustrations" class="shadePicker"></select>
    </div>
  </div>

  <div class="row right">
    <div class="half">
      <button id="generate_child_styleguide" class="primary-button">
        Generate styleguide
      </button>
    </div>
  </div>
</div>
<div class="help">
  <p>
    Need help? You can read the documentation
    <a
      target="_blank"
      href="https://bitsomx.atlassian.net/wiki/spaces/~423496812/pages/3009086799/Galileo"
      >here.</a
    >
  </p>
</div>

<div id="preloader">
  <img class="preloader-logo" src="<%= require('./galileo-logo.svg').default %>" />
</div>
